body {
  margin: 0;
  background-color: #1b1b1b;
}
header {
  
  height: 100vh;
  width: 100px;
  padding: 20px ;
  position: fixed;
  font-family: "Nunito", sans-serif;
  width: 300px;
}

 nav {
 padding:0 15px;
 border-radius: 20px;
 margin-left: 20px;
 border: 1px solid color-mix(in srgb, #FFFFFF, transparent 80%);
}

nav ul {
  margin-bottom: 0;
  padding: 5px;
}

nav ul li {
  margin-bottom: 2rem;
  list-style: none;
  color:#ffffff;
}
nav ul li a {
  text-decoration: none;
  color:#ffffff;
  margin-left: 0.5em;
  font-size: 16px;
}
nav ul li a:hover,nav ul li a:focus{
  background-color: #ffffff
}

nav ul li a i{
  font-size: 20px;
  margin-right: 10px;
}
nav ul li span{
 justify-content: space-between;
 margin: 25px;
 font-size: 20px;
 background-color:#444444;

}
.container-project-sociol {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.container-project-sociol i{
  font-size: 16px;
  color:#ffffff
}
.container-project-sociol div:hover{
  background-color: #ffffff;
}
.social-project {
  background-color: color-mix(in srgb, #ffff, transparent 90%);
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%; 
  position: relative;
  padding: 10px;
  font-size: 10px;
  justify-content: space-around;
}

main {
  margin-left: 300px;
  
}
section {
  padding: 20px;
  min-height: 100vh;
}
.hero-content {
  display: flex;
  justify-content: space-between;
}
.hero-text {
  width: 100%;
  height: 80vh;
  margin-bottom: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 80px 0px;
  line-height: 1.6;

}
.hero-text h1{
  font-size: 42px;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: 800;
 color:#ffffff;
 font-family: "Ubuntu",sans-serif;
 margin: 0px 0px 15px;
 
}

.hero-text h1 span{
  color: #ffffff;;
  text-decoration:underline;
}
.hero-text h2 {
 margin:1px;
 font-size: 24px;
 font-weight:800;
 color:#ffffff;
 font-family: "Ubuntu",sans-serif;
}

.hero-text p span{
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: underline;
}

.hero-text p {
 margin-top:0px 0px 40px;
 line-height: 1.6;
 color:#ffffff;
 max-width:300px;
 font-family: "Roboto",sans-serif;
 font-size: 16px;
 
}

.section-bat {
  display: flex;
  gap: 30px;
}

.button-section {
  background:#310606;
  background:#ececec;
  border: none;
}
.Get-section {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.button {
  display: block;
  font-family: "Roboto", sans-serif;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  align-content: center;
  width: 35%;
  height: 50px;
  padding: 12px 25px;
  font-size: 14px;
  margin-top: 30px;
}
 .Get-section :hover{
  background-color: #ececec;
 }
 .section-bat :hover{
  background-color: #ececec;
}
.icon-section ul{
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 16px;
  margin: 20px 0 0 0 0;
  color: #ffffff;
  margin-top: 40px;
}
.icon-section i{
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  background-color: #444444;
  padding: 12px;
  top: 20px;
}
.icon-section i:hover{
  background-color: #ececec;
}
.hero-img{
  justify-content:space-evenly;
  width: 95%;
  
}
.hero-img img{
  margin: 50px 0;
  width: 100%;
 
}
.hero-section img{
  width: 90%;
  height: 70vh;
  margin: 95px;
  margin-left: 40px;
  border-radius: 40px;
}
