body {
  margin: 0;
  background-color: #1b1b1b;
}
header {
  
  height: 100vh;
  width: 100px;
  padding: 20px ;
  position: fixed;
  font-family: "Nunito", sans-serif;
  width: 300px;
}

 nav {
 padding:0 15px;
 border-radius: 20px;
 margin-left: 20px;
 border: 1px solid color-mix(in srgb, #FFFFFF, transparent 80%);
}

nav ul {
  margin-bottom: 0;
  padding: 5px;
}

nav ul li{
  margin-bottom: 2rem;
  list-style: none;
  color:#ffffff;
}
nav ul li a {
  text-decoration: none;
  color:#ffffff;
  margin-left: 0.5em;
  font-size: 16px;
}
nav ul li a:hover,nav ul li a:focus{
  background-color: #ececec;
}

nav ul li a i{
  font-size: 20px;
  margin-right: 10px;
}
nav ul li span{
 justify-content: space-between;
 margin: 25px;
 font-size: 20px;
 background-color:#444444;
 border-radius: 60%;
 color:#ececec;
 font-size: 20px;
}
nav ul li span:hover{
  background-color: #ececec;
}
.container-project-sociol {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.container-project-sociol i{
  font-size: 16px;
  color:#ffffff
}
.container-project-sociol div:hover{
  background-color: #ffffff;
}
.social-project {
  background-color: color-mix(in srgb, #ffff, transparent 90%);
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%; 
  position: relative;
  padding: 10px;
  font-size: 10px;
  justify-content: space-around;
}

main {
  margin-left: 300px;
  
}
section {
  padding: 45px;
  min-height: 100vh;
}
.hero-content {
  display: flex;
  justify-content: space-between;
}
.hero-text {
  width: 80%;
  height: 80vh;
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 24px;
  margin: 70px 0px;
  line-height: 1.6;
}

.hero-text h1{
  font-size: 42px;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: 600;
 color:#ffffff;
 font-family: "Ubuntu",sans-serif;
 margin: 0px 0px 15px;
 
}

.hero-text h1 span{
  color: #ffffff;;
  text-decoration:underline;
}
.hero-text h2 {
 margin:1px;
 font-size: 24px;
 font-weight:300;
 color:#ffffff;
 font-family: "Ubuntu",sans-serif;
 margin-bottom: 20px;
}

.hero-text p span{
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: underline;
}

.hero-text p {
 margin-top:0px 0px 40px;
 line-height: 1.6;
 color:#ffffff;
 max-width:500px;
 font-family: "Roboto",sans-serif;
 font-size: 16px;
} 
.bi-chevron-down{
  font-size: 12px;
  padding: 8px;
  width: 50px;
  height: 50px;
  background: #ececec;
  border-radius: 60%;
}
.v-icon{
  margin-left: 5px;
  align-content: center;
  display: flex;

}
.drop-div{
  left: 240px;
  position:absolute;
  height: 5%;
  width: 10%;
  border-radius: 50%;
  color: #1b1b1b;
}
.v-icon:hover{
  border-color: #ececec;
  color: #1b1b1b;
}
.section-bat {
  display: flex;
  gap: 30px;
}

.button-section {
  background:#310606;
  background:#ececec;
  border: none;
}
.Get-section {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.button {
  display: block;
  font-family: "Roboto", sans-serif;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  align-content: center;
  width: 35%;
  height: 50px;
  padding: 12px 25px;
  font-size: 14px;
  margin-top: 30px;
}
 .Get-section :hover{
  background-color: #ececec;
 }
 .section-bat :hover{
  background-color: #ececec;
}
.icon-details{
  display:inline-block;
  list-style: none;
  color: #ffffff;
  margin-top: 40px;
  gap: 25px;
}
.icon-section a{
  color: #ffffff;
  width: 20px;
  height: 16px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #444444;
  padding: 10px;
  margin-left: 1.5rem;
 
}
.icon-section a:hover{
  background-color: #ececec;
}
.hero-img{
  justify-content:space-evenly;
  width: 90%;
  
}
.hero-img img{
  position: absolute;
  height: 90vh;
  width: 50%;
 
}
.hero-section img{
 left: 5px;
  width: 70%;
  height: 55%;
  margin: 70px;
  border-radius: 30px;
  top: 5px;
  margin-left: 10px;


}
.hero-code{
  background-color: #444444;
  width: 75%;
  height: 55%;
  margin: 95px;
  margin-left: 25px;
  border-radius: 30px;
  top: 300px;
  left: 15px;
}
  .hero-text {
  position: relative;
}
.decorative-shape {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 55%;
    height: 50%;
    background: #444444;
    border-radius: 50%;
    z-index: 0;
    opacity: 0.2;
    left: 40px;
}
.hero-img{
  position: relative;
}
.photo{
    position: absolute;
    top: 10px;
    left: 50px;
    right: 100px;
    width: 25%;
    height: 50%;
    background: #444444;
    border-radius: 50%;
    z-index: 0;
    opacity: 0.2;
    left: 40px;
}
 .hero-img{
  position: relative;
 }
.css-code{
   position: absolute;
    top: 20px;
    left: 10px;
    right: 50px;
    width: 55%;
    height: 50%;
    background: #444444;
    border-radius: 50%;
    z-index: 0;
    opacity: 0.2;
    left: 40px;
    border: 1px solid #444444;
}
 .about-photo{
  padding: 2.5rem;
  min-height: 100vh;
 width: 300px;
 height: 90px;
 margin-bottom: 3rem;
 border-radius: 2rem;
 position: relative;
 
}
.about-photo img{
  position: absolute;
  width: 150px;
  border: 4px solid #ffffff;
  border-radius: 60%;
 position: relative;
 margin-bottom: 2rem;
 margin-left: 5px;
}

.home{
  position:absolute;
  width: 4%;
  height: 15px;
  margin-left: 95px;
  top: 100px;
  margin-right: 80px;
  background: white;
  padding: 10px;
  border-radius: 55%;
  background-color: #ffffff;
  color: #232323;
  margin: 13px;
  margin-left: 120px;
}
.about-section h1{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  margin: 0px 0px 8px;
}
.about-section h2{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 2rem;
  color: #ececec;
  margin: 0px 0px  32px;
  font-family: "Roboto" ,sans-serif;
}
.about-section{
  display: flex;
  justify-content: space-between;
}
 .about-photo{
  border:#444444 2px solid;
  width: 40%;
  height: 34%;
  border-radius: 1.6rem;
  margin: 12px;
  padding: 20px;
  border-top: 5px solid white;
 }
 .about-photo.btn-section{
  border-radius: 50px;
  width: 18%;
 }

.btn-section{
  background:#232323;;
  background-color: transparent;
  color: #ececec;
  border: 1px solid #444444;
  display: block;
  font-family: "Roboto", sans-serif;
  border-radius: 0.75rem;
  font-weight: 600;
  text-align: center;
  align-content: center;
  width: 85%;
  height: 50px;
  font-size: 16px;
  margin-top: 30px;
}
.btn-section span{
 margin-right: 35px;
}

.button{
  margin-right:  80px;
  padding: 30px;
}
.btn-section:hover{
  background-color: #ffffff;
}
.geo-section{
  width: 55%;
  height: 70%;
  margin-top: 10px;
  padding: 20px;
}
.to-section{
  margin-bottom: 35px;
  margin-left: 10px;
  font-size: 14px;
  height: 60px;
  width: 40%;
  margin-right: 50px;
}
.passion h1{
  font-size:1.875rem;
  font-family: "Ubuntu",sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  margin-left: 10px;
   
}
 .passion p{
  padding: 10px;
  color: #ffffff;
  font-size: 17.6px;
  font-family: "Roboto",sans-serif;
  margin: 0px 0px 24px;
}

.icon-details{
  display: flex;
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
  padding: 1rem;
 background: #232323;
 border-radius: 30px;
 margin-top: 10px;
 margin-bottom: 0px;
}
.icon-section {
  color:#ececec;
  font-size: 14px;
  font-weight: 700;
  padding:  10px;
}
.icon-section h4{
  font-size: 32px;
  color: white;
  padding: 3px;
}
.temps-section{
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem;
  height: 120px;
  width: 92%;
  gap: 10px;
  margin-bottom: 95px;
}
.open{
  width: 50%;
  height: 120px;
}
.open h1{
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  font-weight:500;
  margin:0px 0px 8px;
  color: #ececec;
}
.open span{
  display: flex;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto",sans-serif;
}

.button-section {
  background:#ececec;
  border: none;
  display: flex;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  align-content: center;
  width: 53%;
  height: 50px;
  padding: 0.875rem 2rem;
  gap: 0.5rem;
}
.button-section :hover{
 background-color: #ffffff;
}
.Get-section {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 30%;
  display: block;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  align-content: center;
  height: 50px;
 margin-bottom: 90px;
  
}
.bi-chat-dots{
 gap: 20px;
 margin-top: 10px;
 justify-content: space-between;
 padding: 20px;
}
 
.folio{
  background: #232323;
  height: 250px;
  width: 95%;
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 30px;
}
.outil{
  background: #2c2c2c;
  padding-left: 40px 30px;
  border-radius: 15px;
  text-align:center ;
  width: 300px;
  color: #ffffff;
}
.Emoji{
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.outil h2{
  font-size: 35px;
  margin: 10px 0;
}
.Emoji{
  width:80%;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 30px;
  display: block;
  font-size: 48px;
  font-weight: 700;
  position:relative;
  background: #2c2c2c;
  margin-bottom: 10px;
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
}
 .meta{
  background-color:rgb(255, 255, 255,0.1);
  color:white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  color: #ffffff;
}
.Emoji p{
  font-size: 18px;
  font-family: "Ubuntu",sans-serif;
  margin: 0;
  font-weight: 500;
}
.Edit{
  background-color: color-mix(in srgb, #ff7e00, transparent 85%);
  color: #ff7e00;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}
.headset{
  color: #00c875;
  background-color: color-mix(in srgb, #00c875, transparent 85%);
   width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}
.people{
  background-color: color-mix(in srgb, #e83e8c, transparent 85%);
  color: #e83e8c;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}