body {
  margin: 0;
  background-color: #1b1b1b;
}
header {
  
  height: 100vh;
  width: 100px;
  padding: 20px ;
  position: fixed;
 
}
nav {
border: #444444 solid 2px;
width: 300px;
height: 85vh;
margin-top: 10px;
padding-left: 10px 0;
border-radius: 20px;
padding: 10px;
margin-left: 10px;
font-family: "Nunito", sans-serif;

}
nav ul {
  margin-bottom: 0;
  padding: 5px;
}

nav ul li {
  margin-bottom: 2rem;
  list-style: none;
  color:#ffffff;
}
nav ul li a {
  text-decoration: none;
  color:#ffffff;
  margin-left: 0.5em;
  font-size: 16px;
}
nav ul li a:hover,nav ul li a:focus{
  color:white;
}
nav ul li a i{
  font-size: 20px;
  margin-right: 10px;
}
nav ul li span{
justify-content: space-between;
display: inline-block
   
}
.container-project-sociol {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.container-project-sociol i{
  font-size: 16px;
  color: #ffffff;
}
.container-project-sociol div:hover{
  background-color: white;
}
.social-project {
  background-color: color-mix(in srgb, #ffff, transparent 90%);
  width: 40px;
  height: 40px;
  align-content: center;
  border-radius: 10%;
}



